In [1]:
import pandas as pd

In [3]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)

In [4]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [18]:
mapa = {"home" : "principal",
           "how_it_works" : "como_funciona",
           "contact" : "contato",
           "bought" : "comprou"}
dados.rename(columns = mapa, inplace=True)

In [19]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [20]:
x = dados[["principal", "como_funciona","contato"]]
y = dados[["comprou"]]

In [22]:
dados.shape

(99, 4)

In [24]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [32]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

accuracy = accuracy_score(teste_y, previsoes)

print("A precis達o foi de {:.2f}%".format(accuracy*100))

A precis達o foi de 95.83%

f:\Users\Matheus\Desktop\Alura\Python\Machine Learning\Classificacao com SKLearn\venv\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Usando biblioteca para separar treino e teste

In [43]:
from sklearn.model_selection import train_test_split

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25, random_state=SEED, stratify=y)

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

accuracy = accuracy_score(teste_y, previsoes)

print("A precis達o foi de {:.2f}%".format(accuracy*100))

A precis達o foi de 96.00%

f:\Users\Matheus\Desktop\Alura\Python\Machine Learning\Classificacao com SKLearn\venv\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [44]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [45]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64